/* FIX TEXT VISIBILITY */
section {
  background-color: #f8fafc;
  color: #0f172a;
  padding: 40px 30px;
  border-radius: 10px;
}

section p,
section li {
  color: #0f172a;
}

h2 {
  color: #2563eb;
  border-bottom: 2px solid #2563eb;
}
body {
  font-family: 'Inter', sans-serif;
  background-color:sky blue;
  color: #e5e7eb;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  text-align: center;
  padding: 70px 20px;
  background: linear-gradient(135deg, #0f172a, #020617);
}

h1 {
  font-size: 42px;
  font-weight: 700;
  color: #38bdf8;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 18px;
  color: #cbd5f5;
}

.summary {
  max-width: 700px;
  margin: 15px auto 0;
  color: #94a3b8;
}

section {
  max-width: 900px;
  margin: 50px auto;
  padding: 0 20px;
}

h2 {
  font-size: 26px;
  color: #38bdf8;
  border-bottom: 2px solid #1e293b;
  padding-bottom: 6px;
  margin-bottom: 25px;
}

h3 {
  font-size: 20px;
  color: #f8fafc;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 8px;
}

.project {
  background-color: #020617;
  border: 1px solid #1e293b;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 25px;
}

#contact p {
  margin-bottom: 10px;
}
